{% extends 'base.html.twig' %}
{% block title%}Blog{% endblock %}
{% block body%}
<!--=====================
          Content
======================-->
<section id="content"><div class="ic">More Website Templates @ TemplateMonster.com - July 28, 2014!</div>
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3>Our Blog</h3>
        {% for post in posts %}
        {{ include ('partials/post.html.twig', {'post': post}) }}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
